body {
    width: 1920px;
    background-color: #222222;
    overflow:hidden;
}

.gridster {
    margin: auto;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

.color1 {
    background-color: #1757A8;
}

.color2 {
    background-color: #0E3668;
}

.color3 {
    background-color: #2078E8;
}

.color4 {
    background-color: #227FF5;
}

.color5 {
    background-color: #1C6BCE;
}

.widget {
	text-align: center;
	vertical-align: middle;
	color: rgba(255,255,255,0.7);
    /*color: rgba(0,0,0,0.7);*/
    height: 100%;
    padding: 10px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.gridster li {
    /*border: 1px solid red;*/
}

.gridster ul {
  list-style: none; 
}

.company-name {
    padding: 0 0 0 0;
}

.company-name img {
    margin: auto;
}

.officers {
}

.officers  .title{
	float: right;
	clear: both;
    /*color: black;*/
    color: white;
}

.officers  .name{
	clear: both;
}

.officers div {
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

/*.important {
    text-align: center;
    vertical-align: middle;
}

.important .info {
    color: white;
}*/

.clock {
    margin: 0 0 0 0;
}

.clock p {
    line-height: 1.2;
    font-size: 32px;
    color: white;
}

.calendar table {
    width: 100%;
}

.calendar .month {
    text-align: center;
}

.calendar .days td {
    border: 1px solid black;
}

.calendar .dates td {
    border: 1px solid black;
}

.events {
    width: 100%;
}

.events .event {
    float:left;
    clear:both;
    margin: 10px 0 0 0;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    padding: 5px 0 5px 0;
    overflow: hidden;
}

.events .date {
    float: left;
    width: 70px;
    border-right: 5px solid black;
}

.events p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    line-height: 1.0;
}

.events .date .number {
    font-size: 32px;
}

.events .date .month{
    font-size: 24px;
}

.events .info {
    float: left;
    clear: none;
    text-align: left;
    margin: 7px 0 0 20px;
    padding: 0 0 0 0;
    font-size: 16px;
}

.events .info .title {
    color: white;
    font-size: 24px;
}

.image {
    display: flex;
    align-items: center
}

.image img {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
}

.latest {
    width: 100%;
}

.latest h3 {
    margin: 0 0 5px 0;
    padding: 0 0 0 0;
}

.latest .call{
    text-align: left;
    background-color: rgba(0,0,0,0.3);
    padding: 5px 5px 5px 5px;
}

.latest .call p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    line-height: 1.2;
}

.latest .call .callType {
    float: left;
    width: 50%;
}
.latest .call .callTime {
    float: left;
    width: 50%;
    text-align: right;
}

.weather {
    text-align: center;
}

.weather p {
    margin: 0 0 0 0;
}

.weather .weatherIcon {
    font-size: 48px;
}

.weather .temperature {
    font-size: 48px;
    line-height: 1.2;
    color: white;
}

.weather .description {
}

.weather .header {
    margin-top: 5px;
    line-height: 1.2;
    font-size: 28px;
    color: white;
}